@use 'base/colors' as *;
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', serif;
	font-size: 1.6rem;
	height: 100vh;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}
form {
	padding: 1em;
	background-color: $gray;
	display: flex;
	flex-direction: column;
}
label {
	font-size: 2rem;
	margin-top: 10px;
}
input {
	margin-top: 10px;
	height: 2em;
	font-size: 1.8rem;
}

@media (max-width: 798px) {
	label {
		font-size: 1.8rem;
		margin-top: 10px;
	}
	input {
		margin-top: 10px;
		height: 2em;
		font-size: 1.5rem;
	}
}
