@media (min-width: 598px) {
	.header {
		&__title {
			font-size: 4rem;
		}
		&__text {
			font-size: 3rem;
		}
	}
}
@media (min-width: 768px) {
	.header {
		&__title {
			font-size: 5rem;
		}
		&__text {
			font-size: 3.5rem;
		}
		&__btn {
			font-size: 2rem;
		}
	}
}
@media (min-width: 998px) {
	.header {
		background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../src/img/home-big.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		&__title {
			font-size: 5rem;
		}
		&__text {
			font-size: 3.5rem;
		}
		&__btn {
			font-size: 2rem;
		}
	}
}
