@use 'base/colors' as *;
.cv-box {
	display: flex;
	flex-direction: column;
	padding: 0 0.5em;

	&__title {
		padding: 0.5em;
		font-size: 2.2rem;
		text-align: center;
		text-transform: uppercase;
		background-color: $accent;
		color: $white;
	}
}
.box-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $accent;
	margin: 0 0.5em;
	height: 100px;
}
.btn {
	text-transform: uppercase;
	width: 100%;
	padding: 1.2em;
	font-size: 1.6rem;
}
.cv-preview {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	// grid-template-rows: 1fr 1fr 1fr;
	margin: 2.5em 0.5em;
	border: 1px solid $accent;
}
.left-side {
	grid-column: 1/1;
	grid-row: 1/-1;
	background-color: $gray;
}
.right-side {
	grid-column: 2/-1;
	// grid-row: 1/-1;
}
// about
.img-preview-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-preview {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
	object-position: center;
}
.cv-preview-title {
	margin-left: 0.5em;
	text-align: center;
}
// job
.cv-preview-job {
	margin-left: 5px;
}
.preview-job-box {
	margin: 0.3em 0;
}
.preview-job-date {
	display: flex;
	margin-top: 0.2em;
}
.preview-job-description {
	text-align: left;
	margin-top: 0.2em;
	max-width: 100%;
	overflow: hidden;
}
//preview lang
.cv-preview-lang {
	grid-column: 1/1;
}
.preview-lang-box {
	display: flex;
}
.preview-lang-lang,
.preview-lang-lvl {
	margin: 0.1em 0.5em;
}
// preview edu
.cv-preview-edu {
	margin-left: 5px;
}
.preview-edu-box {
	margin: 0.3em 0;
}
.preview-edu-date {
	display: flex;
	margin-top: 0.2em;
}
//preview skills
.cv-preview-skills {
	margin-left: 5px;
}
.preview-skill-list {
	margin-left: 18px;
}
.box-tools {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: $accent;
	margin: 0 0.5em;
	height: 100px;
}
.color-picker {
	margin: 0 1em;
	color: white;
}
.color-input {
	width: 30px;
	height: 30px;
	border: none;
}
// home
